*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkgray;
}
.here{
    text-align: center;
    background: cornflowerblue;
    width: 100%;
    height: 50vh;
    margin-top: 100px;
}

.inputdata{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    /* border: solid 2px red; */
    margin-top: 100px;
}
.info{
    /* margin-top: 60px; */
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 35%;
}